@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --space: 1.5em 0;
  --space: 2em 0;
}

html,
body {
  background: #0e1212;
  color: #fff;
  font-family: 'roboto', sans-serif;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

.menu-icon span {
  background: #fff;
  height: 0.2rem;
  width: 33px;
  margin-bottom: 0.4rem;
  display: block;
}

.menu-icon span:last-of-type {
  margin-bottom: 0;
}

.navbar-nav {
  background: rgba(14, 18, 18, 0.85);
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 4.4rem;
  max-height: 0;
  overflow: hidden;
}

.navbar-nav li {
  padding-top: 2rem;
  padding-bottom: 0.3rem;
}

.navbar-nav li:last-of-type {
  margin-bottom: 1.2rem;
}

.navbar-nav a {
  color: #fff;
}

.open-nav {
  max-height: initial;
}
@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .navbar-nav {
    background: initial;
    position: static;
    flex-direction: row;
    width: initial;
    max-height: initial;
  }
  .navbar-nav li,
  .navbar-nav li:last-of-type {
    padding: initial;
    height: initial;
  }
}

.card-body {
  background: #fff;
  color: #000;
}
/* colors */

.react {
  background: #61dbfb;
}

.strapi {
  background: #8c4bff;
}

.tailwind {
  background: #06b6d4;
}

.html {
  background: #e34c26;
}

.css {
  background: #264de4;
}

.javascript {
  background: #f0db4f;
}

.border-custom-purple {
  border-bottom: 2px solid #682ae9;
}

.custom-purple {
  color: #682ae9;
}

.bg-custom-purple {
  background: #682ae9;
}

.active li {
  border-bottom: 2px solid #682ae9;
}

/* Loader */
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
